:root {
  --primary--text-color: #000000;
  --secondary--text-color: #907e82;
  --red--text-color: #d41443;
  --pink--text-color: #ffa5ba;
  --white--text-color: #ffffff;
  --bgmain--backgorund-color: #ffb8ca;
  --bgsecond--backgorund-color: #ffa5ba;
  --bgthird--background--color: #fff5f6;
  --bgyellow--backgorund-color: #f0d1a5;
  --bggreen--backgorund-color: #c2e297;
  --btnbgred--background-color: #d41342;
  --btnbgwhite--background-color: #ffffff;
  --btnbggrey--background-color: #ecebeb;
  --btnred--text-color: #d41443;
  --btn-hover-red-color: #c7133e;
  --btnwhite--text-color: #ffffff;
  --svgmain---color: #fea5bb;
  --svgsecond--color: #d41443;
  --sliderbg--background-color: rgba(250, 250, 250, 0.1);
  --sliderbg2--background-color: rgba(225, 225, 225, 0.5);
  --sliderbg3--background-color: rgba(250, 250, 250, 0.1);
  --sliderborder-color: rgba(225, 225, 225, 0.5);
  --circle-background-color: #c7133e;
}
