:root {
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --red--text-color: #d41443;
  --pink--text-color: #ffa5ba;
  --white--text-color: #ffffff;
  --bgmain--backgorund-color: #ffb8ca;
  --bgsecond--backgorund-color: #ffa5ba;
  --bgthird--background--color: #fff5f6;
  --bgyellow--backgorund-color: #f0d1a5;
  --bggreen--backgorund-color: #c2e297;
  --btnbgred--background-color: #d41443;
  --btnbgwhite--background-color: #ffffff;
  --btnbggrey--background-color: #ecebeb;
  --btnred--text-color: #d41443;
  --btnwhite--text-color: #ffffff;
  --svgmain---color: #fea5bb;
  --svgsecond--color: #d41443;
}
