<!-- <section class="section section--about">
  <div class="container">
    <p class="section--about__subtitle">tradition and love</p>
    <h2 class="section--about__title">
      how it’s <br />
      made?
    </h2>
    <div class="section--about__content">
      <div class="section--about__picture">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./images/about/about-1-desktop.png 1x, ./images/about/about-1-desktop@2x.png 2x"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/about/about-1-tablet.png 1x, ./images/about/about-1-desktop@2x.png 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/about/about-1.png 1x, ./images/about/about-1.png 2x"
          />
          <img src="#" alt="cow" />
        </picture>
      </div>
      <div class="section--about__description">
        <p class="section--about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="section--about__text section--about__text--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="section--about__text section--about__text--grey">
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button type="button" class="section--about__btn">
          <span>Read more</span>
        </button>
      </div>
    </div>
  </div>
</section> -->
