<!-- <div class="section--about__backdrop is-hidden" data-about-modal>
  <div class="section--about__modal">
    <button type="button" class="section--about__modal--btn" data-about-modal-close></button>
    <p class="section--about__text section--about__text--grey">
      <span class="section--about__text--red"> First ice creams</span> appeared in ancient Persia,
      some 2500 years ago, and in those early times they were all based on the sweetened water that
      was iced, grinded into little pieces and then decorated with various tasting toppings and
      fruits. This tradition of ice cream production slowly reached Greek and Roman empires, where
      ice creams were welcomed with opened hands and used liberally by Roman nobility and royalty
      who had necessary money to fund very expensive process of production. Sadly, after the fall of
      the Roman Empire, organized ice transport from mountains to the cities below stopped, and ice
      cream continued to be even more expensive product. Little changed in the 1000 years following
      the fall of Rome, and only after the Europe started exiting Dark Ages did ice cream managed to
      resurface in Renaissance Italy.
    </p>
    <p class="section--about__text section--about__text--grey">
      <span class="section--about__text--red">During 13th and 14th century,</span> Italy was center
      of the trade with the Middle East and Asia, and their contact with new and innovative recipes
      of ice cream enabled this summertime treat to slowly spread across entire Europe. This
      expansion of ice cream was not an easy one, and it happened only after Italian noblewoman
      Catherine de'Medici went to France to marry Duke de Orleans (future king of France) in 1533.
      There she introduced nobility of continental Europe with the wonders of the east – eating
      utensils, high heeled shoes and off course, ice cream. With nobility fueling its production,
      innovators, technicians and cooks all put their best efforts into developing the rise of ice
      cream popularity and availability across the world. North American street vendors started
      selling ice cream only few decades after France and England, and industrial revolution slowly
      but surely started working on elevating problems of continuous refrigeration.
    </p>
    <p class="section--about__text section--about__text--grey">
      <span class="section--about__text--red">Solution to that problem </span>came only in 1926,
      when continuous refrigeration finally became reality with electrical freezers. This enabled
      industrial manufacturers to start producing very large quantities of this frozen treat, which
      slashed ice creams price to the acceptable levels for everyone. Large popularity of ice cream
      in United States (especially during prohibition and market crash of 1930s) did not shifted to
      Europe until the start of the World War II. After WW2, ice cream industry received massive
      expansion, enabling creation of countless ice cream flavors, artificial ingredients and
      accessible price. Today, ice cream industry earns dozens of billions of dollars each year,
      with United States being the largest consumer of this phenomenal summertime treat.
    </p>
  </div>
</div> -->
