<div class="contacts-backdrop"data-contacts-modal>
    <div class="contacts-modal">
        <button type="button" class="contacts-modal__btn"data-contacts-modal-close>
            <svg class="contacts-modal__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-contacts-modal-close"></use>
            </svg>
        </button>
        <div class="contacts-map">
            <iframe width="100%" height="100%"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95057.2017600601!2d-87.82398169975755!3d41.88129506018667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cdab9cc0b65%3A0x5460c20b2cce2859!2zODMyIFcgUmFuZG9scGggU3QsIENoaWNhZ28sIElMIDYwNjA3LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638826828544!5m2!1sru!2sua">
            </iframe>    
        </div>
    </div>
</div>
<script src="./js/contacts-modal.js"></script> 
