<section class="contacts">
  <div class="container contacts__back">
    <h2 class="visually-hidden">We are waiting for you</h2>

    <ul class="contacts__list" id="contacts">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <h3 class="contacts__title">Chicago</h3>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-date">
          <li class="contacts-date__list-top">
            <h3 class="contacts-date__days">Monday - Friday</h3>
            <p class="contacts-date__time">
              <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 AM</time>
            </p>
          </li>

          <li class="contacts-date__list">
            <h3 class="contacts-date__days">Saturday - Sunday</h3>
            <p class="contacts-date__time">
              <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 AM</time>
            </p>
          </li>
        </ul>

        <address>
          <ul class="contacts-link">
            <li>
              <a class="contacts-link__tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts-link__mail link" href="mailto:noreply@envato.comg"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts__item">
        <p class="contacts__category-green">FOODTRUCK</p>
        <h3 class="contacts__title">Los Angeles</h3>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div>
          <ul class="contacts-date">
            <li class="contacts-date__list-top">
              <h3 class="contacts-date__days">Monday - Friday</h3>
              <p class="contacts-date__time">
                <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 AM</time>
              </p>
            </li>

            <li class="contacts-date__list">
              <h3 class="contacts-date__days">Saturday - Sunday</h3>
              <p class="contacts-date__time">
                <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 AM</time>
              </p>
            </li>
          </ul>
        </div>
        <address>
          <ul class="contacts-link">
            <li>
              <a class="contacts-link__tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts-link__mail link" href="mailto:noreply@envato.comg"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <h3 class="contacts__title">Chicago</h3>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div>
          <ul class="contacts-date">
            <li class="contacts-date__list-top">
              <h3 class="contacts-date__days">Monday - Friday</h3>
              <p class="contacts-date__time">
                <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 AM</time>
              </p>
            </li>

            <li class="contacts-date__list">
              <h3 class="contacts-date__days">Saturday - Sunday</h3>
              <p class="contacts-date__time">
                <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 AM</time>
              </p>
            </li>
          </ul>
        </div>
        <address>
          <ul class="contacts-link">
            <li>
              <a class="contacts-link__tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts-link__mail link" href="mailto:noreply@envato.comg"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>

    <ul class="contacts-btn">
      <li class="contacts-btn__item">
        <button class="contacts-btn__link" type="button">
          Our Locations
          <svg class="contacts-btn__icon-white">
            <use href="../src/images/icons.svg#icon-btn-white"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btn__item">
        <button class="contacts-btn__link contacts-btn__link-white" type="button">
          Franchise
          <svg class="contacts-btn__icon-red">
            <use href="../src/images/icons.svg#icon-arrow-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
