<section class="section section__slider">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="slider__item swiper-slide">
          <picture class="slider__picture">
            <source
              srcset="
                ./images/customer-reviews/customer-3.png    1x,
                ./images/customer-reviews/customer-3@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/customer-reviews/customer-3.png" alt=photo_Emily" loading="lazy" />
          </picture>
          <div class="slider__bacgkround">
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="dots"></div>
          <span class="swiper__bottom-text">Emily, Los Angeles</span>
        </div>
        <div class="slider__item swiper-slide">
          <picture class="slider__picture">
            <source
              srcset="
                ./images/customer-reviews/customer-2.png    1x,
                ./images/customer-reviews/customer-2@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/customer-reviews/customer-2.png" alt=photo_Brandy" loading="lazy" />
          </picture>
          <div class="slider__bacgkround">
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="dots"></div>
          <span class="swiper__bottom-text">Ann,New-York</span>
        </div>
        <div class="slider__item swiper-slide">
          <picture class="slider__picture">
            <source
              srcset="
                ./images/customer-reviews/customer-1.png    1x,
                ./images/customer-reviews/customer-1@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/customer-reviews/customer-1.png" alt=photo_Anna" loading="lazy" />
          </picture>
          <div class="slider__bacgkround">
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="dots"></div>
          <span class="swiper__bottom-text">Penny,Chicago</span>
        </div>
      </div>
      <div class="swiper__bottom">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
