<section class="section">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="slider__item swiper-slide">
          <picture class="slider__picture">
            <source
              srcset="
                ./images/customer-reviews/customer-3.png    1x,
                ./images/customer-reviews/customer-3@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/customer-reviews/customer-3.png" alt=photo_Emily" loading="lazy" />
          </picture>

          <p class="slider__text">
            <!-- <a href="">
              <svg class="slider__quote" width="54" height="40">
                <use href="./images/quotes.svg"></use>
              </svg>
            </a> -->
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="slider__item swiper-slide">
          <picture class="slider__picture">
            <source
              srcset="
                ./images/customer-reviews/customer-2.png    1x,
                ./images/customer-reviews/customer-2@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/customer-reviews/customer-2.png" alt=photo_Brandy" loading="lazy" />
          </picture>
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="slider__item swiper-slide">
          <picture class="slider__picture">
            <source
              srcset="
                ./images/customer-reviews/customer-1.png    1x,
                ./images/customer-reviews/customer-1@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/customer-reviews/customer-1.png" alt=photo_Anna" loading="lazy" />
          </picture>
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
