<section class="section">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="slider__item swiper-slide">
          <h3 class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </h3>
        </div>
        <div class="slider__item swiper-slide">
          <h3 class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </h3>
        </div>
        <div class="slider__item swiper-slide">
          <h3 class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </h3>
        </div>
      </div>
      <div class="swiper-pagination">
        <p class="pagination__text">Emily,Los Angeles</p>
      </div>
    </div>
  </div>
</section>
