<!-- В футере размещен дублированный заголовок. 
Также здесь находится список ссылок социальный сетей в виде логотипов компаний. Иконкам задан ховер и фокус. При клике на иконку открывается стартовая страница социальной сети на новой вкладке.  Рядом с социальными сетями находится телефон компании. Он оформлен с использованием ссылочных протоколов. В самом низу футера расположен знак авторского права, отделенный от основного контента футера горизонтальной линией.-->

<footer class="footer">
    <div class="container footer__container">

        <!-- Дублированный заголовок -->

            <div class="footer__block-text">
                <p class="footer__slogan">homemade ice cream made</p>
            
                <p class="footer__text">with passion</p>
            </div>

            <!-- Список социальных сетей -->
            
            <div class="footer__social">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                            <svg class="footer__icon" width="20" height="20">
                                <use href="./images/icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                
                    <li class="footer__item">
                        <a class="footer__link" href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener">
                            <svg class="footer__icon" width="20" height="20">
                                <use href="./images/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                
                    <li class="footer__item">
                        <a class="footer__link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                            <svg class="footer__icon"  width="20" height="20">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                
                <div class="footer__contact">
                    <p class="footer__invitation">Feel free to contact</p>
                    <a class="footer__tel link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </div>
            </div>
        
    </div>

    <!-- Горизонтальная линия -->

    <div class="line"></div>
    
    <!-- Авторское право -->

    <small class="footer__copy">&#169; 2021 - IceCream. All Rights Reserved.</small>
    
</footer>