<section class="gallery">
  <div class="gallery__container">
    <h2 class="visually-hidden">Products gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__image-height3">
        <div class="gallery__column gallery__image-centre">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/01mb.webp 1x, ./images/gallery/01mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/01mb.jpg 1x, ./images/gallery/01mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/01tb.webp 1x, ./images/gallery/01tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/01tb.jpg 1x, ./images/gallery/01tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/01dt.webp 1x, ./images/gallery/01dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/01dt.jpg 1x, ./images/gallery/01dt@2x.jpg 2x"
            />
            <img class="gallery__image" src="#" alt="Мороженое01" />
          </picture>
        </div>
      </li>

      <li class="gallery__item gallery__image-height3">
        <div class="gallery__column gallery__image-height2 gallery__image-first">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/02mb.webp 1x, ./images/gallery/02mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/02mb.jpg 1x, ./images/gallery/02mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/02tb.webp 1x, ./images/gallery/02tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/02tb.jpg 1x, ./images/gallery/02tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/02dt.webp 1x, ./images/gallery/02dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/02dt.jpg 1x, ./images/gallery/02dt@2x.jpg 2x"
            />
            <img class="gallery__image" src="#" alt="Мороженое02" />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/03mb.webp 1x, ./images/gallery/03mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/03mb.jpg 1x, ./images/gallery/03mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/03tb.webp 1x, ./images/gallery/03tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/03tb.jpg 1x, ./images/gallery/03tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/03dt.webp 1x, ./images/gallery/03dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/03dt.jpg 1x, ./images/gallery/03dt@2x.jpg 2x"
            />
            <img class="gallery__image gallery__image-last" src="#" alt="Мороженое03" />
          </picture>
        </div>
      </li>

      <li class="gallery__item-big gallery__image-height3">
        <div class="gallery__column-big gallery__image-height3">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/04mb.webp 1x, ./images/gallery/04mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/04mb.jpg 1x, ./images/gallery/04mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/04tb.webp 1x, ./images/gallery/04tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/04tb.jpg 1x, ./images/gallery/04tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/04dt.webp 1x, ./images/gallery/04dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/04dt.jpg 1x, ./images/gallery/04dt@2x.jpg 2x"
            />
            <img
              class="gallery__image gallery__image-width2 gallery__image-height2"
              src="#"
              alt="Мороженое04"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/05mb.webp 1x, ./images/gallery/05mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/05mb.jpg 1x, ./images/gallery/05mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/05tb.webp 1x, ./images/gallery/05tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/05tb.jpg 1x, ./images/gallery/05tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/05dt.webp 1x, ./images/gallery/05dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/05dt.jpg 1x, ./images/gallery/05dt@2x.jpg 2x"
            />
            <img class="gallery__image gallery__image-last" src="#" alt="Мороженое05" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__image-height3">
        <div class="gallery__column gallery__image-height2 gallery__image-second">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/06mb.webp 1x, ./images/gallery/06mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/06mb.jpg 1x, ./images/gallery/06mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/06tb.webp 1x, ./images/gallery/06tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/06tb.jpg 1x, ./images/gallery/06tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/06dt.webp 1x, ./images/gallery/06dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/06dt.jpg 1x, ./images/gallery/06dt@2x.jpg 2x"
            />
            <img class="gallery__image gallery__image-last" src="#" alt="Мороженое06" />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/07mb.webp 1x, ./images/gallery/07mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/07mb.jpg 1x, ./images/gallery/07mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/07tb.webp 1x, ./images/gallery/07tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/07tb.jpg 1x, ./images/gallery/07tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/07dt.webp 1x, ./images/gallery/07dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/07dt.jpg 1x, ./images/gallery/07dt@2x.jpg 2x"
            />
            <img class="gallery__image gallery__image-last" src="#" alt="Мороженое07" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__image-height3">
        <div class="gallery__column gallery__image-height2 gallery__image-third">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/08mb.webp 1x, ./images/gallery/08mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/08mb.jpg 1x, ./images/gallery/08mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/08tb.webp 1x, ./images/gallery/08tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/08tb.jpg 1x, ./images/gallery/08tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/08dt.webp 1x, ./images/gallery/08dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/08dt.jpg 1x, ./images/gallery/08dt@2x.jpg 2x"
            />
            <img class="gallery__image" src="#" alt="Мороженое08" />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/09mb.webp 1x, ./images/gallery/09mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/09mb.jpg 1x, ./images/gallery/09mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/09tb.webp 1x, ./images/gallery/09tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/09tb.jpg 1x, ./images/gallery/09tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/09dt.webp 1x, ./images/gallery/09dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/09dt.jpg 1x, ./images/gallery/09dt@2x.jpg 2x"
            />
            <img class="gallery__image gallery__image-last" src="#" alt="Мороженое09" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__image-height3 gallery__image-centre">
        <div class="gallery__column gallery__image-centre">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/10mb.webp 1x, ./images/gallery/10mb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/gallery/10mb.jpg 1x, ./images/gallery/10mb@2x.jpg 2x"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/10tb.webp 1x, ./images/gallery/10tb@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 1279px)"
              srcset="./images/gallery/10tb.jpg 1x, ./images/gallery/10tb@2x.jpg 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/10dt.webp 1x, ./images/gallery/10dt@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery/10dt.jpg 1x, ./images/gallery/10dt@2x.jpg 2x"
            />
            <img class="gallery__image" src="#" alt="Мороженое10" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
