<section class="products">
    <div class="container">
        <p class="products__label" id="products">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item products__item--pink">
                <div class="product-wrap--pink">
                    <h3 class="product-wrap__title">ice coffee</h3>
                    <div class="product__dots"></div>
                    <p class="product-wrap__text product-wrap__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et.
                    </p>
                    <input type="checkbox" id="read-more-pink" hidden />
                    <p class="read-more__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur.
                    </p>
                    <label for="read-more-pink" class="read-more__btn">
                        <span>
                            <svg class="icon__arrow--right" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </span>
                        <span>
                            <svg class="icon__arrow--up" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-up"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="products__item products__item--yellow">
                <div class="product-wrap product-wrap--yellow">
                    <h3 class="product-wrap__title">ice cream</h3>
                    <div class="product__dots"></div>
                    <p class="product-wrap__text product-wrap__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et.
                    </p>
                    <input type="checkbox" id="read-more-yellow" hidden />
                    <p class="read-more__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur.
                    </p>
                    <label for="read-more-yellow" class="read-more__btn">
                        <span>
                            <svg class="icon__arrow--right" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </span>
                        <span>
                            <svg class="icon__arrow--up" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-up"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="products__item products__item--green">
                <div class="product-wrap product-wrap--green">
                    <h3 class="product-wrap__title">milkshakes</h3>
                    <div class="product__dots"></div>
                    <p class="product-wrap__text product-wrap__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et.
                    </p>
                    <input type="checkbox" id="read-more-green" hidden />
                    <p class="read-more__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur.
                    </p>
                    <label for="read-more-green" class="read-more__btn">
                        <span>
                            <svg class="icon__arrow--right" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </span>
                        <span>
                            <svg class="icon__arrow--up" width="12" height="12">
                                <use href="./images/icons.svg#icon-arrow-up"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</section>