<section>
    <p>100% natural</p>
    <h2>products</h2>
    <div>
        <ul>
            <li>
                <div>
                    <h3>ice cream</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button class="btn" type="button"></button>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolor illo modi voluptas
                            fuga debitis voluptatum quibusdam corrupti officia. Suscipit.</p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3>ice coffee</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button class="btn" type="button"></button>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolor illo modi voluptas
                            fuga debitis voluptatum quibusdam corrupti officia. Suscipit.</p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3>milkshakes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button class="btn" type="button"></button>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolor illo modi voluptas
                            fuga debitis voluptatum quibusdam corrupti officia. Suscipit.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>