<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <div class="products__container">
            <ul class="products__list">
                <li class="products__item">
                    <div class="product-wrap">
                        <h3 class="product-wrap__title">ice cream</h3>
                        <p class="product-wrap__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut
                            labore et</p>
                        <button class="btn" type="button"></button>
                        <div class="read-more">
                            <p class="read-more__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                                dolor illo modi voluptas
                                fuga debitis voluptatum quibusdam corrupti officia. Suscipit.</p>
                        </div>
                    </div>
                </li>
                <li class="products__item">
                    <div class="product-wrap">
                        <h3 class="product-wrap__title">ice coffee</h3>
                        <p class="product-wrap__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut
                            labore et</p>
                        <button class="btn" type="button"></button>
                        <div class="read-more">
                            <p class="read-more__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                                dolor illo modi voluptas
                                fuga debitis voluptatum quibusdam corrupti officia. Suscipit.</p>
                        </div>
                    </div>
                </li class="products__item">
                <li class="products__item">
                    <div class="product-wrap">
                        <h3 class="product-wrap__title">milkshakes</h3>
                        <p class="product-wrap__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut
                            labore et</p>
                        <button class="btn" type="button"></button>
                        <div class="read-more">
                            <p class="read-more__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                                dolor illo modi voluptas
                                fuga debitis voluptatum quibusdam corrupti officia. Suscipit.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>