.section--about {
  padding: 125px 0 39px 0;
  background-size: contain;
  background-position: center bottom 60px;
  background-repeat: no-repeat;
  background-color: var(--bgthird--background--color);
  background-image: url('../images/about/about-2.png');

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../images/about/about-2@2x.png');
  }

  @media screen and (min-width: 768px) {
    padding: 130px 0 66px 0;
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    background-position: center bottom;
    padding: 125px 0 39px 0;
    background-image: url('../images/about/about-2-desktop.png');

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/about/about-2-desktop@2x.png');
    }
  }
   @media screen and (min-width: 1970px){
    background-size: 100% 100%;
   }
}


.section--about__content {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0 -8px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 -37px;
  }
}

.section--about__picture {
  max-width: 280px;
  margin: 0 auto 46px;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: none;
    width: 50%;
    margin: 0;
    padding: 0 8px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 37px;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.section--about__description {
  max-width: 220px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: none;
    width: 50%;
    margin: 0;
    padding: 50px 8px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 50px 37px 0;
  }
}

.section--about__paragraf {
  @media screen and (min-width: 768px) {
    margin-bottom: -49px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: -35px;
  }
}

.section--about__title {
  @extend %title;
  text-align: center;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
  }
}

.section--about__subtitle {
  @extend %subtitle;
  text-align: center;
}

.section--about__text {
  @include fonts(12px, 500, 1.62, 0);
  font-family: DM Sans;
  color: var (--primary-text-color);
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.76, 0);
  }

  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.76, 0.04em);
  }
}

.section--about__text--grey {
  color: var(--secondary--text-color);
}

.section--about__btn {
  min-width: 176px;
  height: 44px;
  font-family: DM Sans;
  @include fonts(14px, 700, 1.28, 0);
  text-align: center;
  color: var(--red--text-color);
  background-color: var(--btnbgwhite--background-color);
  cursor: pointer;
  border-radius: 22px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btnbggrey--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }

  @media screen and (min-width: 1280px) {
    width: 176px;
    margin-top: 45px;
  }
}

.section--about__icon {
  width: 4.43px;
  height: 8px;
  margin-left: 13.62px;
}

// шаблоны заголовков
%title {
  @include fonts(34px, 400, 1.15, 0.04em);
  font-family: Titan One;
  text-transform: uppercase;
  color: var(--red--text-color);

  @media screen and (min-width: 768px) {
    @include fonts(48px, 400, 1.15, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include fonts(58px, 400, 1.13, 0.06em);
  }
}

%subtitle {
  @include fonts(18px, 400, 1.17, 0);
  font-family: Titan One;
  text-transform: uppercase;
  color: var(--pink--text-color);
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    @include fonts(26px, 400, 1.15, 0);
  }

  @media screen and (min-width: 1280px) {
    @include fonts(30px, 400, 1.13, 0.04em);
  }
}