.contacts {
  display: flex;
  background-image: linear-gradient(to bottom, #ffffff 84px, #fff5f6 84px, #fff5f6);
  padding-bottom: 105px;

  @media screen and (min-width: 768px) {
    padding-bottom: 155px;
  }

  .contacts__back {
    @media screen and (min-width: 1280px) {
      background-image: url(../images/contacts/contacts.png);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/contacts/contacts@2x.png);
      }
    }
  }
}

.contacts__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-left: -20px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -30px;
  }
}

.contacts__item {
  background-color: var(--btnbgwhite--background-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  padding: 43px 20px 43px 20px;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (max-width: 767px) {
    max-height: 427px;
    max-width: 220px;
  }
  @media screen and (min-width: 768px) {
    max-width: 220px;
    max-height: 544px;
    padding: 50px 30px 50px 30px;
    margin-left: 20px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    max-height: 572px;
  }
}

.contacts__category {
  @include fonts(12px, 500, 1.3, 0.04em);
  background: var(--bgyellow--backgorund-color);
  border-radius: 4px;
  max-width: 80px;
  height: 100%;
  text-align: center;
  color: var(--white--text-color);
  margin-bottom: 25px;
  @media screen and (max-width: 767px) {
    height: 16px;
  }
  @media screen and (min-width: 768px) {
    @include fonts(16px, 500, 1.86, 0.04em);
    height: 28px;
    margin-bottom: 30px;
    max-width: 70px;
  }
}

.contacts__category-green {
  @include fonts(12px, 500, 1.3, 0.04em);
  background-color: var(--bggreen--backgorund-color);
  border-radius: 4px;
  max-width: 130px;
  height: 100%;
  text-align: center;
  color: var(--white--text-color);
  margin-bottom: 25px;
  @media screen and (max-width: 767px) {
    height: 16px;
  }
  @media screen and (min-width: 768px) {
    @include fonts(16px, 500, 1.86, 0.04em);
    height: 28px;
    margin-bottom: 30px;
    max-width: 140px;
  }
}

.contacts__title {
  margin-bottom: 10px;
  @include fonts(12px, 500, 1, 0.04em);
  color: var(--primary--text-color);
  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.86, 0.04em);
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.86, 0.04em);
    margin-bottom: 10px;
  }
}

.contacts__text {
  margin-bottom: 25px;
  @include fonts(12px, 500, 1.5, 0em);
  color: var(--secondary--text-color);

  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.5, 0em);
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.83, 0.04em);
  }
}

.contacts-date__list-top {
  padding-top: 25px;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    margin-bottom: 15px;
  }
}

.contacts-date__list {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
}

.contacts-date__days {
  @include fonts(12px, 500, 1.86, 0.04em);
  color: var(--primary--text-color);
  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.86, 0em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.86, 0.04em);
  }
}

.contacts-date__time {
  @include fonts(12px, 500, 1.86, 0.04em);
  color: var(--pink--text-color);
  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.86, 0em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.86, 0.04em);
  }
}

.contacts-link {
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
}

.contacts-link__tel {
  @include fonts(12px, 500, 1.5, 0em);
  color: var(--secondary--text-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--btnbgred--background-color);
  }
  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.83, 0em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.83, 0.04em);
  }
}

.contacts-link__mail {
  @include fonts(12px, 500, 1.5, 0em);
  color: var(--secondary--text-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--btnbgred--background-color);
  }
  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1, 0em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.83, 0.04em);
  }
}

.contacts-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  @media screen and (min-width: 768px) {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include fonts(12px, 500, 1.5, 0.04em);
}

.contacts-btn__link {
  color: var(--white--text-color);
  background-color: var(--btnbgred--background-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-style: normal;

  min-width: 160px;
  height: 45px;
  text-align: center;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;

  &:hover,
  &:focus {
    background-color: var(--btn-hover-red-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include fonts(16px, 700, 1.3, 0.04em);

  @media screen and (min-width: 480px) {
    min-width: 190px;
    height: 45px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 200px;
    height: 45px;
  }
}

.contacts-btn__icon-white {
  width: 5px;
  height: 8px;
  margin-left: 10px;
  fill: #ffffff;
}

.contacts-btn__link-white {
  background-color: var(--btnbgwhite--background-color);
  color: var(--red--text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 1, 1);

  &:hover,
  &:focus {
    background-color: var(--btnbggrey--background-color);
  }

  @media screen and (min-width: 768px) {
    margin-left: 15px;
    min-width: 175px;
    height: 45px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 180px;
    height: 45px;
  }
}

.contacts-btn__icon-red {
  width: 5px;
  height: 8px;
  margin-left: 15px;
  fill: var(--svgsecond--color);
}
