.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 620px;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
  }
}
.swiper-wrapper {
  position: relative;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider__item {
  width: 100%;
}

.slider__picture {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.slider__bacgkround {
  width: 100%;
  display: flex;
  position: relative;

  background-color: var(--sliderbg--background-color);
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 45px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-color: var(--sliderbg3--background-color);
    margin-bottom: 25px;
    padding-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    padding-bottom: 40px;
  }
}

.slider__text {
  width: 100%;
  @include fonts(12px, 500, 2.55, 0.03em);
  background-image: repeating-linear-gradient(
    to bottom,
    var(--sliderbg--background-color),
    var(--sliderbg--background-color) 29px,
    var(--sliderborder-color) 20px,
    var(--sliderborder-color) 30px
  );
  color: var(--primary--text-color);
  @media screen and (max-width: 767px) {
    width: 157px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 460px;
    @include fonts(14px, 500, 2.16, 0.03em);
    background-image: repeating-linear-gradient(
      to bottom,
      var(--sliderbg3--background-color),
      var(--sliderbg3--background-color) 29px,
      var(--sliderborder-color) 20px,
      var(--sliderborder-color) 30px
    );
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
    @include fonts(16px, 500, 1.86, 0.03em);
  }
}
.slider__text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 28px;
  left: 61px;
  background-image: url(../images/quotes.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  color: transparent;
}
.swiper__bottom {
  width: 100%;
}
.swiper__bottom-text {
  width: 172px;
  @include fonts(14px, 500, 1.86, 0.01em);
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}
.dots,
.dots:before,
.dots:after {
  width: 4px;
  height: 4px;
  background: var(--circle-background-color);
  border-radius: 50%;
}
.dots {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
.dots:before {
  content: '';
  position: absolute;
  left: -10px;
}
.dots:after {
  content: '';
  position: absolute;
  right: -10px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-style: none;
  border-radius: 0;
  background-image: url(../images/home.svg);
}
.swiper__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
