.swiper {
  width: 100%;
  height: 100%;

  @media screen and (max-width: 767px) {
    width: 280px;
  }
}
.swiper-wrapper {
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider__item {
  width: 100%;
  margin-bottom: 30px;
}
.slider__text {
  @include fonts(12px, 500, 2.55, 0.03em);
  color: var(--primary-text-color);
}
.swiper-pagination {
  position: relative;
}
.pagination__text {
  @include fonts(12px, 500, 1.86, 0.03em);
  color: var(--primary-text-color);
}
