.gallery__container {
  padding: 0;
  height: 100%;
}
.gallery__picture {
  height: 122px;
  margin: 0 auto;
  width: 364px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    height: 264px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 430px;
  }
}
.gallery__img {
  @media screen and (max-width: 767px) {
    width: 364px;
    margin: 0 auto;
  }
}