.hero-header {
  background-color: #ffb8ca;
}

.site-nav__link.current {
  color: var(--red--text-color);
}

.header-button {
  display: inline-block;
  margin-left: auto;
}

.header-button__icon {
  fill: var(--svgsecond--color);
}

.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 110px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
}

.site-nav__link {
  color: #ffffff;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 35px;
}

.title {
  display: block;
  margin-right: auto;
  width: 277px;
  height: 137px;
}

.title__main {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title__passion {
  font-size: 58px;
  line-height: 0.91;
  color: var(--red--text-color);
}
