.products {
  padding-top: 120px;
  padding-bottom: 100px;
  width: 100%;
}
.products__label {
  margin-bottom: 15px;
  font-family: Titan One;
  @include fonts(18px, 400, 1.17, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--pink--text-color);
}
.products__title {
  font-family: Titan One;
  @include fonts(34px, 400, 1.15, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--red--text-color);
  @media screen and (max-width: 1279px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 260px;
  }
}
.products__list {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.products__item {
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 25px;
  }
}

.product-wrap--pink {
  padding: 161px 40px 40px 40px;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  background: var(--bgmain--backgorund-color);
  transition: all 0.6s ease;
  &::before {
    position: absolute;
    top: -40%;
    left: 0;
    content: '';
    display: block;
    background: {
      image: url('../images/products/products-1.png');
      size: cover;
      repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-1@2x.png');
    }
    @media screen and (max-width: 767px) {
      width: 249px;
      height: 252px;
      left: 5%;
      margin-top: 85px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 120px;
      width: 220px;
      height: 225px;
    }
    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 340px;
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    margin-bottom: 130px;
  }
  @media screen and (min-width: 768px) {
    width: 220px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
  }
}
.product-wrap--yellow {
  padding: 161px 40px 40px 40px;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  background: var(--bgyellow--backgorund-color);
  transition: all 0.6s ease;
  &::before {
    position: absolute;
    top: -40%;
    left: 0;
    content: '';
    display: block;
    background: {
      image: url('../images/products/products-2.png');
      size: cover;
      repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-2@2x.png');
    }
    @media screen and (max-width: 767px) {
      width: 249px;
      height: 252px;
      left: 5%;
      margin-top: 85px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 120px;
      width: 220px;
      height: 225px;
    }
    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 340px;
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    margin-bottom: 130px;
  }
  @media screen and (min-width: 768px) {
    width: 220px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
  }
}
.product-wrap--green {
  padding: 161px 40px 40px 40px;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  background: var(--bggreen--backgorund-color);
  transition: all 0.6s ease;
  &::before {
    position: absolute;
    top: -40%;
    left: 0;
    content: '';
    display: block;
    width: 249px;
    height: 252px;
    background: {
      image: url('../images/products/products-3.png');
      size: cover;
      repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-3@2x.png');
    }
    @media screen and (max-width: 767px) {
      width: 249px;
      height: 252px;
      left: 5%;
      margin-top: 85px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 120px;
      width: 220px;
      height: 225px;
    }
    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 340px;
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 220px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
  }
}

.product-wrap__title {
  margin-bottom: 32px;
  text-align: center;
  font-family: Titan One;
  @include fonts(20px, 400, 1.15, 0.04em);
  text-transform: uppercase;
  color: var(--white--text-color);
}

.product-wrap__text {
  text-align: center;
  color: var(--white--text-color);
  @media screen and (max-width: 1279px) {
    @include fonts(14px, 700, 1.52, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 700, 1.52, 0.04em);
  }
}
.product__dots,
.product__dots:before,
.product__dots:after {
  width: 6px;
  height: 6px;
  background: var(--btnbgwhite--background-color);
  border-radius: 50%;
}
.product__dots {
  position: relative;
  left: 50%;
  margin-bottom: 32px;
  display: inline-block;
}
.product__dots:before {
  content: '';
  position: absolute;
  left: -10px;
}
.product__dots:after {
  content: '';
  position: absolute;
  right: -10px;
}

.read-more__btn {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--btnbgwhite--background-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--btn-hover-red-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
  }
}

.read-more__btn:hover .icon__arrow--right {
  fill: var(--btnbgwhite--background-color);
}

.read-more__text {
  display: none;
  opacity: 1;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white--text-color);
  @media screen and (max-width: 1279px) {
    @include fonts(14px, 700, 1.52, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 700, 1.52, 0.04em);
  }
}

#read-more-pink:checked ~ .read-more__text {
  display: block;
}
#read-more-yellow:checked ~ .read-more__text {
  display: block;
}
#read-more-green:checked ~ .read-more__text {
  display: block;
}
.icon__arrow--right {
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 0;
  right: 0;
  fill: var(--svgsecond--color);
}

.icon__arrow--up {
  display: none;
}
#read-more-pink:checked ~ .read-more__btn {
  @media screen and (max-width: 767px) {
    margin-top: 5px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}
#read-more-yellow:checked ~ .read-more__btn {
  @media screen and (max-width: 767px) {
    margin-top: 5px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}
#read-more-green:checked ~ .read-more__btn {
  @media screen and (max-width: 767px) {
    margin-top: 5px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}

#read-more-pink:checked ~ .read-more__btn .icon__arrow--right {
  display: none;
}
#read-more-yellow:checked ~ .read-more__btn .icon__arrow--right {
  display: none;
}
#read-more-green:checked ~ .read-more__btn .icon__arrow--right {
  display: none;
}
#read-more-pink:checked ~ .read-more__btn {
  background: var(--btn-hover-red-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--btnbgwhite--background-color);
}
#read-more-yellow:checked ~ .read-more__btn {
  background: var(--btn-hover-red-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--btnbgwhite--background-color);
}
#read-more-green:checked ~ .read-more__btn {
  background: var(--btn-hover-red-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--btnbgwhite--background-color);
}

#read-more-pink:checked ~ .read-more__btn .icon__arrow--up {
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 0;
  right: 0;
  fill: var(--btnbgwhite--background-color);
  display: block;
}
#read-more-yellow:checked ~ .read-more__btn .icon__arrow--up {
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 0;
  right: 0;
  fill: var(--btnbgwhite--background-color);
  display: block;
}
#read-more-green:checked ~ .read-more__btn .icon__arrow--up {
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 0;
  right: 0;
  fill: var(--btnbgwhite--background-color);
  display: block;
}
#read-more-pink:checked ~ .read-more__text {
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
#read-more-yellow:checked ~ .read-more__text {
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
#read-more-green:checked ~ .read-more__text {
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
